<!DOCTYPE html>
<html>
<head>
  <title>TunesTakeout</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Login With Spotify", "/auth/spotify" unless @user %>
<% if @user %>
  <%= image_tag "#{@user.image}" %>  <%= "#{@user.name}" %>'s TakeoutTunes
  <%= link_to "Logout", logout_path, method: "delete", :class => "btn btn-primary btn-sm" %>
<%end %>

<%= yield %>

</body>
</html>
