<!DOCTYPE html>
<html>
<head>
  <title>TunesTakeout</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= link_to "Login With Spotify", "/auth/spotify" unless @user %>
    <% if @user %>
      <%= link_to image_tag("#{@user.image}"), "https://open.spotify.com/user/#{@user.uid}" %>  
      <%=link_to "#{@user.name}'s", "https://open.spotify.com/user/#{@user.uid}" %> TakeoutTunes
      <%= link_to "Logout", logout_path, method: "delete", :class => "btn btn-primary btn-sm" %>
    <%end %>
  </header>

  <%= yield %>

  <footer>
    Created using Spotify, Yelp, and a little secret sauce.
  </footer>

</body>
</html>
