<!DOCTYPE html>
<html>
<head>
  <title>TunesTakeout</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <%= image_tag("logos/Spotify_Icon_RGB_Green.png", :class => "icon-pic") unless @user %>
    <%= link_to "Login With Spotify", "/auth/spotify" unless @user %>
    
    <% if @user %>
      <% if !@user.image.nil? %>
        <%= link_to image_tag("#{@user.image}", :class => "icon-pic"), "https://open.spotify.com/user/#{@user.uid}" %>
      <% else %>
        <%= link_to image_tag("logos/takeout-tunes-logo.png", :class => "icon-pic"), "https://open.spotify.com/user/#{@user.uid}" %>
      <% end %>

      <%=link_to "#{@user.name}'s", "https://open.spotify.com/user/#{@user.uid}" %> TakeoutTunes
      <%= link_to "Logout", logout_path, method: "delete", :class => "btn btn-primary btn-sm" %>
    <%end %>
  </header>

  <%= yield %>

  <footer>
    Created using Spotify, Yelp, and a little secret sauce.<br>
    Generic icons courtesy of <a href="http://thenounproject.com">The Noun Project</a>: waiter by Jon Trillana.
  </footer>

</body>
</html>
